.hero-header{
    background-image: url(/src/images/hero-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // height: 930px;
    max-width: 1680px;
}
.header-logo{
    margin-right: 342px;
}
.header-container{
    display: flex;
    align-items: center;
    padding-top: 22px;
}
.header-menu__item{
    margin-right: 282px;
}
.header-menu__item,
.menu,
.language-switcher__item{
    display: flex;
    align-items: center;
}
.header-menu__items:not(:last-child) {
    margin-right: 35px;
}
.language-switcher__items:not(:last-child){
    margin-right: 8px;
}
.header-menu__link,
.language-switcher__items{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
} 
.header-menu__link:hover,
.header-menu__link:focus{
    border-bottom: 1px solid var(--main-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero__container{
    padding-top: 208px;
    padding-bottom: 408px;
}
.hero__title{
    font-weight: 700;
    font-size: 48px;
    color: var(--main-color);
    margin-bottom: 50px;
}
.hero__btn{
    font-weight: 500;
    font-size: 18px;
    padding: 11px 48px;
    color: var(--main-color);
    background-color: var(--bg-color-btn);
}