.service{
    padding-top: 165px;
    padding-bottom: 100;
}
.service__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.15em;
    margin-bottom: 15px;
}
.service__link{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
}
.service__link:hover{
    color: #DB2512;
}
.service__list{
    display: flex;
}
.service__item{
    margin-top: 60px;
    margin-right: 20px;
}
.service__text{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.23em;
    margin-top: 20px;
}
